@font-face {
    font-family: SnellenMK;
    src: url(Snellen.otf);
}
body{
    background:
        linear-gradient(135deg, rgb(250, 170, 148), rgba(255,0,0,0) 60%),
        linear-gradient(45deg, rgb(214, 120, 151), rgba(0,0,255,0) 60%),
        linear-gradient(225deg, rgb(108, 184, 219), rgba(0,255,0,0) 60%),
        linear-gradient(315deg, rgb(150, 98, 199) , rgba(0,255,0,0) 60%);
    color: rgb(51, 51, 51);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}
#_6-60 {
  font-size: 20px;  
}

.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 2px;
}
.left-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
.content {
    width: 100%;
    height: 100%;
    font-family: SnellenMK;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.right-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
